bin
obj
.vs
*.csproj.user
packages
OpenDental5_7.suo
OpenDental7_8.suo
CodeBase/obj
CodeBase/bin
DataConnectionBase/[Bb]in
DataConnectionBase/obj
DataConnectionBase/[Dd]ebug
DataConnectionBase/[Rr]elease
DataConnectionBase/*.user
DataConnectionBase/*.aps
DataConnectionBase/*.eto
DataConnectionBase/ClientBin
DataConnectionBase/GeneratedArtifacts
DataConnectionBase/_Pvt_Extensions
DatabaseIntegrityCheck/obj
DatabaseIntegrityCheck/bin
Direct2dWrapper/[Dd]ebug
Direct2dWrapper/[Rr]elease
DocumentationBuilder/obj
DocumentationBuilder/bin
JobManagerDashboard/[Bb]in
JobManagerDashboard/obj
JobManagerDashboard/[Dd]ebug
JobManagerDashboard/[Rr]elease
JobManagerDashboard/*.user
JobManagerDashboard/*.aps
JobManagerDashboard/*.eto
JobManagerDashboard/ClientBin
JobManagerDashboard/GeneratedArtifacts
JobManagerDashboard/_Pvt_Extensions
MobileWeb/css/themes/apple/img/Thumbs.db
ODR/obj
ODR/bin
OpenDentBusiness/bin
OpenDentBusiness/obj
OpenDentBusiness/OpenDentBusiness.csproj.user
OpenDentBusiness.Tests/bin
OpenDentBusiness.Tests/obj
OpenDental/obj
OpenDental/bin/Debug/*.dll
OpenDental/bin/Debug/*.pdb
OpenDentalCloud/[Bb]in
OpenDentalCloud/obj
OpenDentalCloud/[Dd]ebug
OpenDentalCloud/[Rr]elease
OpenDentalCloud/*.user
OpenDentalCloud/*.aps
OpenDentalCloud/*.eto
OpenDentalCloud/ClientBin
OpenDentalCloud/GeneratedArtifacts
OpenDentalCloud/_Pvt_Extensions
OpenDentalGraph/[Bb]in
OpenDentalGraph/obj
OpenDentalGraph/[Dd]ebug
OpenDentalGraph/[Rr]elease
OpenDentalGraph/*.user
OpenDentalGraph/*.aps
OpenDentalGraph/*.eto
OpenDentalGraph/ClientBin
OpenDentalGraph/GeneratedArtifacts
OpenDentalGraph/_Pvt_Extensions
QueryExecutor/obj
QueryExecutor/bin
RdlDesign/obj
RdlDesign/bin
RdlEngine/obj
RdlEngine/bin
RdlViewer/obj
RdlViewer/bin
SparksToothChart/bin
SparksToothChart/obj
UnitTests/obj
UnitTests/bin
UnitTests/UnitTests/SerializableDictionaryTests.cs
UnitTestsCore/[Bb]in
UnitTestsCore/obj
UnitTestsCore/[Dd]ebug
UnitTestsCore/[Rr]elease
UnitTestsCore/*.user
UnitTestsCore/*.aps
UnitTestsCore/*.eto
UnitTestsCore/ClientBin
UnitTestsCore/GeneratedArtifacts
UnitTestsCore/_Pvt_Extensions
OpenDentalServer/Server6.8/*.suo
OpenDentalServer/*.suo
DocumentationBuilder/packages
