<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Avalara.AvaTax" version="20.1.0" targetFramework="net48" />
  <package id="Dropbox.Api" version="4.0.1" targetFramework="net48" />
  <package id="Google.Protobuf" version="3.21.9" targetFramework="net48" />
  <package id="Ionic.Zip" version="1.9.1.8" targetFramework="net48" />
  <package id="K4os.Compression.LZ4" version="1.2.6" targetFramework="net48" />
  <package id="K4os.Compression.LZ4.Streams" version="1.2.6" targetFramework="net48" />
  <package id="K4os.Hash.xxHash" version="1.0.6" targetFramework="net48" />
  <package id="Microsoft.Web.WebView2" version="1.0.2651.64" targetFramework="net48" />
  <package id="MySql.Data" version="8.0.32.1" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.2" targetFramework="net48" />
  <package id="PdfSharp" version="1.3" targetFramework="net48" />
  <package id="Portable.BouncyCastle" version="1.9.0" targetFramework="net48" />
  <package id="Renci.SshNet.Async" version="1.4.0" targetFramework="net48" />
  <package id="SharpDX" version="4.0.1" targetFramework="net48" />
  <package id="SharpDX.Direct3D9" version="4.0.1" targetFramework="net48" />
  <package id="SharpDX.Mathematics" version="4.0.1" targetFramework="net48" />
  <package id="SSH.NET" version="2016.1.0" targetFramework="net48" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net48" />
  <package id="System.Memory" version="4.5.4" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="5.0.0" targetFramework="net48" />
  <package id="Tamir.SharpSSH" version="1.1.1.13" targetFramework="net48" />
</packages>