<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="OpenDentBusiness.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <OpenDentBusiness.Properties.Settings>
            <setting name="OpenDentBusiness_OpenDentalServer_ServiceMain" serializeAs="String">
                <value>http://localhost/OpenDentalServer/ServiceMain.asmx</value>
            </setting>
            <setting name="OpenDentBusiness_WebServiceMainHQ_WebServiceMainHQ" serializeAs="String">
                <value>http://localhost/OpenDentalWebServiceHQ/webservicemainhq.asmx</value>
            </setting>
            <setting name="OpenDentBusiness_customerupdates_Service1" serializeAs="String">
                <value>http://50.201.161.44:1942/WebServiceCustomerUpdates/Service1.asmx</value>
            </setting>
            <setting name="OpenDentBusiness_localhost_Service1" serializeAs="String">
                <value>http://localhost:3824/Service1.asmx</value>
            </setting>
            <setting name="OpenDentBusiness_Dentalxchange2016_DwsService" serializeAs="String">
                <value>https://webservices.dentalxchange.com:443/dws/DwsService</value>
            </setting>
            <setting name="OpenDentBusiness_com_dentalxchange_webservices_WebServiceService" serializeAs="String">
                <value>https://webservices.dentalxchange.com/dws/services/dciservice.svl</value>
            </setting>
            <setting name="OpenDentBusiness_EmdeonITS_ITSWS" serializeAs="String">
                <value>https://its.changehealthcare.com/ITS/ITSWS.asmx</value>
            </setting>
            <setting name="OpenDentBusiness_com_dosespot_staging_my_API" serializeAs="String">
                <value>https://my.dosespot.com/api/12/api.asmx</value>
            </setting>
            <setting name="OpenDentBusiness_PayConnectService_MerchantService" serializeAs="String">
                <value>https://prelive2.dentalxchange.com:443/merchant/MerchantService</value>
            </setting>
            <setting name="OpenDentBusiness_SheetsSynch_SheetsSynch" serializeAs="String">
                <value>http://localhost:2923/SheetsSynch.asmx</value>
            </setting>
            <setting name="OpenDentBusiness_DentalxchangePartnerService_DeaPartnerService" serializeAs="String">
                <value>https://prelive2.dentalxchange.com:443/dea/DeaPartnerService</value>
            </setting>
            <setting name="OpenDentBusiness_WebServiceMainHq_Mock" serializeAs="String">
                <value>True</value>
            </setting>
        </OpenDentBusiness.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup>
</configuration>
