<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Avalara.AvaTax" version="20.1.0" targetFramework="net48" />
  <package id="Azure.Core" version="1.25.0" targetFramework="net48" />
  <package id="Dropbox.Api" version="4.0.1" targetFramework="net48" />
  <package id="Google.Apis" version="1.68.0" targetFramework="net48" />
  <package id="Google.Apis.Auth" version="1.68.0" targetFramework="net48" />
  <package id="Google.Apis.Core" version="1.68.0" targetFramework="net48" />
  <package id="Google.Apis.Gmail.v1" version="1.68.0.3427" targetFramework="net48" />
  <package id="Google.Protobuf" version="3.21.9" targetFramework="net48" />
  <package id="Ionic.Zip" version="1.9.1.8" targetFramework="net48" />
  <package id="K4os.Compression.LZ4" version="1.2.6" targetFramework="net48" />
  <package id="K4os.Compression.LZ4.Streams" version="1.2.6" targetFramework="net48" />
  <package id="K4os.Hash.xxHash" version="1.0.6" targetFramework="net48" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="6.0.0" targetFramework="net48" />
  <package id="Microsoft.Graph" version="4.42.0" targetFramework="net48" />
  <package id="Microsoft.Graph.Core" version="2.0.13" targetFramework="net48" />
  <package id="Microsoft.Identity.Client" version="4.47.1" targetFramework="net48" />
  <package id="Microsoft.IdentityModel.Abstractions" version="6.23.1" targetFramework="net48" />
  <package id="Microsoft.IdentityModel.JsonWebTokens" version="6.23.1" targetFramework="net48" />
  <package id="Microsoft.IdentityModel.Logging" version="6.23.1" targetFramework="net48" />
  <package id="Microsoft.IdentityModel.Protocols" version="6.23.1" targetFramework="net48" />
  <package id="Microsoft.IdentityModel.Protocols.OpenIdConnect" version="6.23.1" targetFramework="net48" />
  <package id="Microsoft.IdentityModel.Tokens" version="6.23.1" targetFramework="net48" />
  <package id="Microsoft.Web.WebView2" version="1.0.2651.64" targetFramework="net472" />
  <package id="MySql.Data" version="8.0.32.1" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net48" />
  <package id="OpenPop" version="2.0.6.2" targetFramework="net48" />
  <package id="PdfSharp" version="1.3" targetFramework="net48" />
  <package id="Portable.BouncyCastle" version="1.9.0" targetFramework="net48" />
  <package id="Renci.SshNet.Async" version="1.4.0" targetFramework="net472" />
  <package id="SharpDX" version="4.0.1" targetFramework="net48" />
  <package id="SharpDX.Direct3D9" version="4.0.1" targetFramework="net48" />
  <package id="SharpDX.Mathematics" version="4.0.1" targetFramework="net48" />
  <package id="SSH.NET" version="2016.1.0" targetFramework="net472" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net48" />
  <package id="System.CodeDom" version="7.0.0" targetFramework="net48" />
  <package id="System.Diagnostics.DiagnosticSource" version="4.7.1" targetFramework="net48" />
  <package id="System.IdentityModel.Tokens.Jwt" version="6.23.1" targetFramework="net48" />
  <package id="System.IO" version="4.3.0" targetFramework="net48" />
  <package id="System.Management" version="7.0.2" targetFramework="net48" />
  <package id="System.Memory" version="4.5.4" targetFramework="net48" />
  <package id="System.Memory.Data" version="1.0.2" targetFramework="net48" />
  <package id="System.Net.Http" version="4.3.4" targetFramework="net48" />
  <package id="System.Net.Http.WinHttpHandler" version="6.0.1" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net48" />
  <package id="System.Runtime" version="4.3.0" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net48" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="net48" />
  <package id="System.Security.Cryptography.Algorithms" version="4.3.0" targetFramework="net48" />
  <package id="System.Security.Cryptography.Encoding" version="4.3.0" targetFramework="net48" />
  <package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="net48" />
  <package id="System.Security.Cryptography.X509Certificates" version="4.3.0" targetFramework="net48" />
  <package id="System.Text.Encoding" version="4.3.0" targetFramework="net48" />
  <package id="System.Text.Encodings.Web" version="6.0.0" targetFramework="net48" />
  <package id="System.Text.Json" version="6.0.6" targetFramework="net48" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net48" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net48" />
  <package id="Tamir.SharpSSH" version="1.1.1.13" targetFramework="net48" />
</packages>