<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="MobileWeb.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="LogFile" value="C:\temp\WebLogs\MobileWeb.log"/>
    <add key="LogErr" value="yes"/>
    <!--any value other than yes is considered a no-->
    <add key="LogInfo" value="yes"/>
    <!--any value other than yes is considered a no-->
  </appSettings>
  <connectionStrings>
    <add name="MobileWeb.Properties.Settings.DBMobileWeb" connectionString="server=localhost;CharSet=utf8;User Id=root;password=root;database=mobile_dev;Persist Security Info=True" providerName="MySql.Data.MySqlClient"/>
  </connectionStrings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </assemblies>
    </compilation>
    <customErrors mode="Off"/>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
  <applicationSettings>
    <MobileWeb.Properties.Settings>
      <setting name="DemoTodayDate" serializeAs="String">
        <value>2011-02-13</value>
      </setting>
      <setting name="DemoDentalOfficeID" serializeAs="String">
        <value>6566</value>
      </setting>
    </MobileWeb.Properties.Settings>
  </applicationSettings>
  <system.webServer>
    <defaultDocument>
      <files>
        <add value="Index.aspx"/>
      </files>
    </defaultDocument>
  </system.webServer>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="MySql.Data" publicKeyToken="c5687fc88969c44d" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.9.9.0" newVersion="6.9.9.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
